{% extends "CRTToolBundle::template.html.twig" %}

{% block contenu %}
  <div class='container'>
    <div class='form-signin'>
      {% for message in app.session.flashbag.get('success') %}
        <div class='alert alert-success alert-dismissible' role='alert'
        style='margin-top:15px;'>
          <button type="button" class="close" data-dismiss="alert"
          aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{message}}
        </div>
      {% endfor %}

      <form method="post">
        <h2 class='form-signin-heading'>
          Changement du mot de passe
        </h2>
          <div class='form-group'>
            <label for="username">
              Nom d'utilisateur :
            </label>
            <input type="text" id="username" name="_username"
            class='form-control' required disabled
            placeholder="{{app.user.username}}"/>
            {% for message in app.session.flashbag.get('error-current') %}
              <div class='alert alert-danger alert-dismissible' role='alert'
              style='margin-top:15px;'>
                <button type="button" class="close" data-dismiss="alert"
                aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{message}}
              </div>
            {% endfor %}
          </div>

          <div class='form-group'>
            <label for="password" class='control-label required'>
              Mot de passe actuel 
            </label>
            <input type="password" id="old_password" name="_current_password"
            class='form-control' required/>
          </div>

          <div class='form-group' id='groupnew'>
            {% for message in app.session.flashbag.get('error-match') %}
              <div class='alert alert-danger alert-dismissible' role='alert'
              style='margin-top:15px;'>
                <button type="button" class="close" data-dismiss="alert"
                aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{message}}
              </div>
            {% endfor %}
            <label for="password" class='control-label required'>
              Nouveau mot de passe 
            </label>
            <input type="password" id="new_password" name="_new_password"
            class='form-control' required aria-describedby='help_new'/>
            <span id='help_new' class='help-block' style='display:block;'>
              Le mot de passe doit faire au moins 8 caractères.<br>
              Il doit satisfaire trois critrères sur quatre:<br>
                - Contenir au moins une majuscule.<br>
                - Contenir au moins une minuscule.<br>
                - Contenir au moins un nombre.<br>
                - Contenir au moins un caractère spécial.
            </span>
            <span aria-hidden="true" id='new_glyph'
            class="glyphicon glyphicon-remove form-control-feedback">
            </span>
          </div>

          <div class='form-group' id='groupcheck'>
            <label for="password_check" class='control-label required'>
              Confirmation du mot de passe 
            </label>
            <input type="password" id="check_password" name="_check_password"
            class='form-control' required/>
            <span id='help_check' class='help-block' style='display:block;'>
              Attention les mots de passe ne correspondent pas.
            </span>
            <span aria-hidden="true" id='check_glyph'
            class="glyphicon glyphicon-warning-sign form-control-feedback">
            </span>
          </div>

          <button type="submit" class='btn btn-lg btn-success btn-block' id='valider'>
            Valider
          </button>
      </form>
      <a class='btn btn-lg btn-info btn-block'
      href='{{path('logout')}}'
      role='button'
      style='margin-top:10px;'>
        Déconnexion
      </a>
    </div>
  </div>
  <script>
    var duck_new = 0;
    var duck_check = 0;
    $('#help_new').hide();
    $('#help_check').hide();
    $('#new_glyph').hide();
    $('#check_glyph').hide();
    $('#valider').prop('disabled', true)
    var reg = /((?=.*[a-z])(?=.*[A-Z])(?=.*\d)|(?=.*[a-z])(?=.*\d)(?=.*\W)|(?=.*[a-z])(?=.*[A-Z])(?=.*\W)|(?=.*[a-z])(?=.*[A-Z])(?=.*\d)|(?=.*[A-Z])(?=.*\d)(?=.*\W])){8,}/;
    var allowed = /^(.*[a-zA-Z\d\W]{8,})$/;

    function hideNew(){
        $('#new_glyph').hide();
        $('#help_new').hide();
        $('#groupnew').removeClass('has-error has-feedback');
        duck_new = 1;
        if (duck_new && duck_check){
          $('#valider').prop('disabled', false)
        }
    }
    function showNew(){
        $('#new_glyph').show();
        $('#help_new').show();
        $('#groupnew').addClass('has-error has-feedback');
        $('#valider').prop('disabled', true)
        duck_new = 0;
    }
    function hideCheck(){
        $('#check_glyph').hide();
        $('#help_check').hide();
        $('#groupcheck').removeClass('has-warning has-feedback');
        duck_check = 1;
        if (duck_new && duck_check){
          $('#valider').prop('disabled', false)
        }
    }

    function showCheck(){
        $('#check_glyph').show();
        $('#help_check').show();
        $('#groupcheck').addClass('has-warning has-feedback');
        $('#valider').prop('disabled', true)
        duck_check = 0;
    }
    $('#new_password').keyup(function(){
      var newp = $('#new_password').val();
      var checkp = $('#check_password').val();
      if (checkp != '' && checkp != newp){
        showCheck();
      }else if(checkp != '' && checkp == newp){
        hideCheck();
      }
      if (reg.test(newp) && allowed.test(newp)){
        hideNew();
      }else{
        showNew();
      }
    });
    $('#check_password').keyup(function(){
      var newp = $('#new_password').val();
      var checkp = $('#check_password').val();
      if (newp == checkp){
        hideCheck();
      }else{
        showCheck();
      }
    });
  </script>
{% endblock %}
