{% if userscount != 0 %}
  <table class="table table-bordered" >
    <thead>
      <th>Modèle</th>
      <th title="Tous les utilisateurs qui se sont connectés à Asker pendant l'intervalle">Connectés</th>
      <th>Utilisateurs ayant généré au moins un exo</th>
      <th>Moyenne exercices générés</th>
      <th>Utilisateurs ayant soumis au moins une réponse</th>
      <th>Moyenne exercices répondus</th>
      <th>Répartition des notes</th>
    </thead>
    {% for id in directories|keys %}
      {% if directories[id].models is not empty %}
        <tr class="active">
          <td colspan=7>
            <b>{{directories[id].name}}</b>
            {#
            <a style="color: #333;" class="pull-right" href="{{path('admin_stats_export_directory',{'directory':id, 'view': view})}}">
              <span class="glyphicon glyphicon-export cursor"
              style="cursor:pointer;"
              title="Exporter le répertoire '{{directories[id].name}}' en csv.
              Fonction en mode alpha. Retourne uniquement la premiere réponse
              pour un modéle"></span>
            </a>
            #}
          </td>
        </tr>
      {% endif %}
      {% for modelId, model in directories[id].models %}
        <tr>
          <td class="td-stat">{{model.title}}</td>
          <td class="td-stat">{{userscount}}</td>
          <td class="td-stat">
            {{model.userNoAnswer}}
            ({{((model.userNoAnswer*100)/userscount)|number_format(0)}}%)
          </td>
          <td class="td-stat">{{model.avgAttempt|number_format(2)}}</td>
          <td class="td-stat">
            {{model.userAnswer}}
            ({{((model.userAnswer*100)/userscount)|number_format(0)}}%)
          </td>
          <td class="td-stat">{{model.avgAnswer|number_format(2)}}</td>
          <td id="model-{{modelId}}" style="padding:5px 0px 0px 5px;">
            <span class="glyphicon glyphicon-info-sign cursor"
            style="cursor:pointer;"
            title="La moyenne de toutes les notes est de {{model.avgMark|number_format(2)}}"
            ></span>
            <a style="color: #333" href="{{path('admin_stats_export_directory',{'directory':id, 'view': view,'model':modelId})}}"
              <span class="glyphicon glyphicon-export cursor"
              style="cursor:pointer;"
              title="Exporter les notes de '{{model.title}}' en csv.
Fonction en mode alpha. Retourne uniquement la premiere réponse
pour un modéle par étudiant"></span>
            </a>
          </td>
        </tr>
      {% endfor %}
    {% endfor %}
  </table>
  <div class="col-xs-12">
  <table class="table table-bordered">
    <thead>
      <th>Détail</th>
      <th>Username</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Nombre total d'exercices générés</th>
      <th>Score moyen</th>
      <th>Date du premier exercice généré</th>
      <th>Date du dernier exercice généré</th>
    </thead>
    <tbody>
      {% for stat in stats %}
        <tr>
          <td>
              <a href="{{path('admin_stats_detail',
              {'directory':directory.id,'user':stat.user.id})}}"
              class="btn btn-info btn-xs" role="button">
                <span class="glyphicon glyphicon-search"
                title="Afficher les détails pour cet étudiant">
                </span>
              </a>
          </td>
          <td class="td-stat">{{stat.user.username}}</td>
          <td class="td-stat">{{stat.user.lastName}}</td>
          <td class="td-stat">{{stat.user.firstName}}</td>
          <td class="td-stat">{{stat.count}}</td>
          <td class="td-stat">{{stat.mark}}</td>
          <td class="td-stat">{{stat.firstDate}}</td>
          <td class="td-stat">{{stat.lastDate}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
{% else %}
  Aucun étudiant est inscrit ou aucun étudiant s'est connecté.
{% endif %}

<script>
function drawChart(selector,data){
  var margin = {top: 5, right: 0, bottom: 20, left: 25},
      width = 200 - margin.left - margin.right,
      height = 100 - margin.top - margin.bottom;
  // set the ranges
  var x = d3.scaleBand()
    .range([0, width])
    .padding(0.1);
  var y = d3.scaleLinear()
    .range([height, 0]);
  var svg = d3.select('#'+selector).append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

    // format the data
    data = JSON.parse(data);

    // Scale the range of the data in the domains
    x.domain(data.map(function(d) { return d.range; }));
    y.domain([0, d3.max(data, function(d) { return d.nb; })]);

    // append the rectangles for the bar chart
    svg.selectAll(".bar")
        .data(data)
        .enter().append("rect")
        .attr("class", "bar")
        .attr("x", function(d) { return x(d.range); })
        .attr("width", x.bandwidth())
        .attr("y", function(d) { return y(d.nb); })
        .attr("height", function(d) { return height - y(d.nb); })
        .append("svg:title").text(function (d) { return `Il y a eu ${d.nb} réponses dans l'intervalle`;});

    svg.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x));
    // add the y Axis
    //svg.append("g")
    //    .call(d3.axisLeft(y));
    //})
}
{% for id in directories|keys %}
  {% for modelId, model in directories[id].models %}
    data = '{{model.json|json_encode()|raw}}';
    drawChart("model-{{modelId}}",data);
  {% endfor %}
{% endfor %}
</script>
