{% if users != 0 %}
  <table class="table table-bordered">
    <thead>
      <th>Modèle</th>
      <th title="Tous les utilisateurs qui se sont connectés à Asker pendant l'interval">Connectés</th>
      <th>Utilisateurs ayant généré au moins un exo</th>
      <th>Moyenne exercices générés</th>
      <th>Utilisateurs ayant soumis au moins une réponse</th>
      <th>Moyenne exercices répondus</th>
      <th>Moyenne des notes</th>
    </thead>
    {% for directory, models in directories %}
      {% if models is not empty %}
        <tr class="active">
          <td colspan=7><b>{{directory}}</b></td>
        </tr>
      {% endif %}
      {% for model in models %}
        <tr>
          <td>{{model.title}}</td>
          <td>{{users}}</td>
          <td>
            {{model.userNoAnswer}}
            ({{((model.userNoAnswer*100)/users)|number_format(0)}}%)
          </td>
          <td>{{model.avgAttempt|number_format(2)}}</td>
          <td>
            {{model.userAnswer}}
            ({{((model.userAnswer*100)/users)|number_format(0)}}%)
          </td>
          <td>{{model.avgAnswer|number_format(2)}}</td>
          <td>
            {% if model.distribution.total > 0 %}
              <div class='graph'>
                <div style="height:
                  {{(100* model.distribution.bot)/model.distribution.total}}%;" class="bar">
                </div>
                <div style="height:
                  {{(100* model.distribution.midbot)/model.distribution.total}}%;" class="bar">
                </div>
                <div style="height:
                  {{(100* model.distribution.mid)/model.distribution.total}}%;" class="bar">
                </div>
                <div style="height:
                  {{(100* model.distribution.midtop)/model.distribution.total}}%;" class="bar">
                </div>
                <div style="height:
                  {{(100* model.distribution.top)/model.distribution.total}}%;" class="bar">
                </div>
              </div>
            {% endif %}
            <center>{{model.avgMark|number_format(2)}}</center>
          </td>
        </tr>
      {% endfor %}
    {% endfor %}
  </table>
  <div class="col-xs-3">
  <table class="table table-bordered">
    <thead>
      <th>username</th>
    </thead>
    <tbody>
      {%for id, username in usernames %}
        <tr>
          <td>{{username}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
{% else %}
  Aucun étudiant est inscrit ou aucun étudiant s'est connecté.
{% endif %}
