<!doctype html>
<html lang="en" ng-app="mainApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Asker</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>

    <!-- included styles -->
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/bootstrap-combined.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/custom-style.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/loading-bar.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/exercise.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/lightbox.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/font-awesome.min.css') }}">
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/jquery.min.js') }}"></script>

  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="{{path('admin_stats')}}">
                Statistiques
              </a>
            </li>
            <li>
              <a href="{{path('frontend_index')}}">Retour sur Asker</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      {% block content %}
        {% for type, flash_messages in app.session.flashBag.all %}
    {% for flash_message in flash_messages %}
        <div class="flash-{{ type }}">
            {{ flash_message }}
        </div>
    {% endfor %}
{% endfor %}
        <div class='col-xs-9'>
          <table class="table table-bordered">
            <thead>
              <th>Dossier</th>
              <th>Modèles</th>
              {% if is_granted('ROLE_ADMIN') %}
                <th>Propriétaire</th>
              {% endif %}
              <th>Inscrits</th>
              <th>Anciens</th>
              <th>Code Apogee</th>
              <!--<th>Utilisateurs</th>-->
              <th>Action</th>
            </thead>
            {% for dir in dirs %}
              <tr>
                <td>{{dir.name}}</td>
                <td>{{dir.models}}</td>
                {% if is_granted('ROLE_ADMIN') %}
                  <td>{{dir.username}}</td>
                {% endif %}
                <td>{{dir.currentStudents}}</td>
                <td>{{dir.oldStudents}}</td>
                <td>{{dir.code}}</td>
                <!--<td>{{dir.users}}</td>-->
                <td>
                  <a href="{{path('admin_filters_directory',
                  {'directory':dir.id})}}"
                  class="btn btn-info btn-xs" role="button">
                    <span class="glyphicon glyphicon-search"
                    title="Voir les informations sur ce dossier">
                    </span>
                  </a>
                  <button id='deleteDirectory'
                  data-url="{{path('api_directory_delete', {'directoryId':dir.id})}}"
                  class="btn btn-danger btn-xs" role="button">
                    <span class="glyphicon glyphicon-remove"
                    title="Supprimer ce dossier">
                    </span>
                  </button>
                  <a href="{{path('api_directory_clear_student', {'directory':dir.id})}}"
                  class="btn btn-danger btn-xs" role="button">
                    <span class="glyphicon glyphicon-fire"
                    title="Retirer l'inscription de tous les étudiants">
                    </span>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
      {% endblock %}
    </div><!-- /.container -->
  </body>
  <script>
    $('#deleteDirectory').on('click', function(){
      $.ajax({
        url : $(this).data("url"),
        type: 'DELETE',
        success: function(){
          location.reload();
        },
        error: function(xhr,status,error){
          alert (xhr.responseText);
        }
      });
    });
  </script>
</html>
