<!doctype html>
<html lang="en" ng-app="mainApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Asker</title>

    <!-- included styles -->
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/bootstrap-combined.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/custom-style.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/loading-bar.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/exercise.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/lightbox.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/font-awesome.min.css') }}">

    <!-- included vendors -->
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/angular.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/angular-resource.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/angular-route.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/ui-bootstrap-tpls.min.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/angular-ui-router.min.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/draganddrop.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/fileupload.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/loading-bar.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/lightbox.min.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/textAngular-sanitize.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/textAngular.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/textAngularSetup.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/angular-sanitize.min.js') }}"></script>

    <!-- common client app assets -->
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/apps.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/controllers.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/directives.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/learner-routes.js') }}"></script>

    <!-- utils assets -->
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/modules/utils/services.js') }}"></script>

    <!-- teacher assets -->
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/modules/teacher/controllers.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/modules/teacher/services.js') }}"></script>

    <!-- learner assets -->
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/modules/learner/learner-controllers.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/modules/learner/item-controllers.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/modules/learner/services.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/modules/learner/new-controllers.js') }}"></script>

    <!-- basic client app context definition -->
    <script>
        var BASE_CONFIG = {
            urls: {
                api: {
                    resources: "{{ path('api_exercise_resource_list') }}",
                    directories: "{{ path('api_directory_list') }}",
                    models: "{{ path('api_exercise_model_list') }}",
                    attemptedModels: "{{ path('api_exercise_attempted_model_list') }}",
                    attempts: "{{ path('api_attempt_list') }}",
                    news: "{{path('api_directory_list')}}",
                    exercises: "{{ path('api_exercise_list') }}",
                    users: "{{ path('api_user_list') }}",
                    uploads: "{{ path('api_upload_image') }}"
                },
                partials: {
                    teacher: "{{ asset('bundles/simpleitclaireexercise/frontend/partials/teacher') }}",
                    learner: "{{ asset('bundles/simpleitclaireexercise/frontend/partials/learner') }}"
                },
                images: {
                    uploads: "{{ asset('uploads/claire_exercise/') }}",
                    exercise: "{{ asset('bundles/simpleitclaireexercise/images/exercise/') }}"
                }
            },
            language: 'fr',
            currentUserId: {{ currentUserId }}
        };
        angular.module('mainApp').value('BASE_CONFIG', BASE_CONFIG);
    </script>

</head>
<body ng-controller="mainUserController">

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
 aria-labelledby="myModalLabel"
  style="background-color: transparent;width:100%;height:100%;border:none;">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
    <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Changement du mot de passe</h4>
      </div>
      <div class="modal-body">
        {% include 'SimpleITClaireExerciseBundle:Form:password.html.twig' %}
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
     </div>
    </div>
   </div>
  </div>

<div id="header">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="text-align: right">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id='navbar' class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar brand-size">
              {% for dir in app.user.directories %}
                {% if dir.parent is null %}
                  <li>
                    <a ui-sref="dir-model-list({dirId:'{{dir.id}}'})"
                    title="Consulter les exercices du dossier {{dir.name}}">
                     {{dir.name}}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
          </ul>
          <ul class="nav navbar-nav navbar-right"
          style='margin-right:5px;'>
            <li class='dropdown'>
              <a data-toggle="dropdown" class='dropdown-toggle brand' href='#'>
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                {{ app.user.username }} <b class='caret'></b>
              </a>
              <ul class='dropdown-menu'>
                <li>
                  <a href="{{path('logout')}}" title="Se déconnecter d'asker">
                    Se déconnecter
                  </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                  <li>
                    <a href="{{path('admin_index')}}" title='Administrer Asker'>
                      Administration
                    </a>
                  </li>
                {% endif %}
                {% if app.user.isLdap == 0 %}
                  <li>
                    <a href='#' title='Changer de mot de passe'
                    data-toggle="modal" data-target="#myModal">
                      Changer de mot de passe
                    </a>
                  </li>
                {% endif %}
              </ul>
            </li>
          </ul>
        </div>
    </nav>

</div>

<div id="content">
  <div ui-view>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2" style='margin-top:10%;'>
      <div class="jumbotron">
        <h2>Bienvenue sur la plateforme d'exercices d'auto-évaluation ASKER</h2>
          <p class="lead">
            Pour commencer, choisissez une matière en cliquant sur son nom en haut à gauche.
          </p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
